//@import "bootstrap/scss/bootstrap";

@import "libs/css/magnific-popup.css";
@import "libs/css/meanmenu.css";
@import "libs/css/odometer-theme-default.css";

@import 'libs/css/font-awesome.min.css';
@import "bootstrap-icons";
@import "libs/metronic/init_metronic";
@import "libs/scss/main";

@import "scss/skeleton";

.border-bottom-all {
  li {
    border-bottom: $border-width solid $border-color;
    padding-bottom: 10px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}


.limit-rows {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.clamp-1 {
  -webkit-line-clamp:1;
}

.clamp-2 {
  -webkit-line-clamp:2;
}
.clamp-3 {
  -webkit-line-clamp:3;
}

.clamp-4 {
  -webkit-line-clamp:4;
}